$lineHeight: 25px
$paddingTop: 12px
$categoryLabelPosition: 6px
$relativeTop: $categoryLabelPosition - $paddingTop

.search
  @include hideSpaces()
  width: 400px
  height: $lineHeight
  background: white url(../img/search_icon.png) no-repeat 9px
  box-shadow: 0 0 1px rgba(0,0,0,0.3)
  border-radius: 2px
  padding: $paddingTop 0 11px 42px
  line-height: $lineHeight
  font-family: "Myriad Pro"
  font-size: 15px
  // @TODO: Почему элемент съезжает?
  position: relative
  top: -15px

.search_request
  display: inline-block
  width: 218px
  color: #CACACA
  outline: none
  border: 0
  position: relative
  top: $relativeTop

@include placeholder('.search_request')
  color: #E7E7E7
  font-style: italic

$searchCategoryWidth: 140px
$searchCategoryPaddingLeft: 12px
$searchCategoryIconWidth: 18px
$searchCategoryIconPosition: $searchCategoryWidth + $searchCategoryPaddingLeft - $searchCategoryIconWidth - 22
.search_category_labelContainer
  display: inline-block
  position: relative
  top: $relativeTop
  height: 35px
  width: $searchCategoryWidth
  padding-top: $categoryLabelPosition
  border-top: 1px solid white

  &.active
    border: 1px solid #F1F1F1
    border-bottom-color: #FBFBFB
    width: $searchCategoryWidth - 2px

    .search_category_label
      border: 0
      color: #A8A8A8
      background: url(../img/search_category_downSelected.png) no-repeat $searchCategoryIconPosition

.search_category_label
  color: #CACACA
  cursor: pointer
  height: $lineHeight
  background: url(../img/search_category_down.png) no-repeat $searchCategoryIconPosition
  border-right: 1px solid #eaeaea
  border-left: 1px solid #eaeaea
  padding-left: $searchCategoryPaddingLeft

.search_go
  display: inline-block
  width: 31px
  height: $lineHeight
  background: url(../img/search_go.png) no-repeat 9px center
  cursor: pointer
