@import "mixins"

$pageColor: #FBFBFB
$pageWidth: 940px

body
  border: 0
  margin: 0
  padding: 0
  overflow-y: scroll

.block_page
  background-color: $pageColor

.page_container
  position: absolute
  left: 50%
  width: $pageWidth
  margin-left: -$pageWidth / 2
  padding: 0 40px

@import "header"
