.disableSelectText {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body,
h1,
h2,
h3,
ul,
li,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal; }

.red {
  color: #f32f2f; }

.orange {
  color: #f6810f; }

.green {
  color: #69ae30; }

.blue, a, .rightNow td:first-child {
  color: #3877b3; }

a {
  text-decoration: none; }

input {
  outline: none;
  border: 0;
  box-shadow: 0;
  background: #f6f6f6;
  height: 34px;
  line-height: 34px;
  font-family: Roboto;
  font-size: 14px;
  padding-left: 11px; }

button {
  height: 30px;
  line-height: 27px;
  background: #f46450;
  border: 1px solid #db311a;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  padding: 0 5px 3px 5px;
  cursor: pointer; }

@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto-Regular.ttf); }
body {
  min-width: 990px;
  background: #f7f7f7;
  font-family: Roboto;
  color: #666666; }

.block_page {
  position: absolute;
  left: 50%;
  margin-left: -495px;
  width: 990px;
  min-height: 100%;
  height: 1px;
  background: white; }
  @media (min-width: 990px) {
    .block_page {
      border-right: 1px solid #ebebeb;
      border-left: 1px solid #ebebeb; } }
  @media (max-width: 990px) {
    .block_page {
      margin-left: 0;
      left: 0; } }

.page_container_sidebar {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100%;
  background: white;
  height: 100%; }

.page_container_main {
  float: left;
  right: 785px;
  position: relative;
  width: 100%;
  background: #f7f7f7;
  min-height: 100%; }

.block_sidebar {
  float: left;
  left: 785px;
  position: relative;
  width: 204px;
  border-right: 1px solid #ebebeb; }

.block_main {
  float: left;
  position: relative;
  left: 785px;
  width: 785px;
  overflow: hidden; }

.count {
  width: 14px;
  height: 14px;
  border: 1px solid #e94b36;
  border-radius: 1px;
  background: #ef5c48;
  font-size: 11px;
  font-family: Arial;
  color: white;
  line-height: 14px;
  text-align: center; }

.block_logo {
  height: 145px;
  border-bottom: 1px solid #ebebeb;
  background: url(../img/logo.png) no-repeat center;
  cursor: pointer; }

.leftMenu {
  margin: 0;
  padding: 0; }

.leftMenu_item {
  border-bottom: 1px solid #ebebeb;
  height: 40px;
  list-style: none;
  line-height: 40px;
  padding-left: 20px;
  cursor: pointer; }
  .leftMenu_item.selected {
    position: relative;
    left: 1px;
    background-color: white;
    padding-left: 19px; }
    .leftMenu_item.selected:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      margin-top: -1px;
      margin-left: -1px;
      width: 5px;
      height: 42px;
      background-color: #ea533f; }
    .leftMenu_item.selected:after {
      margin-left: -15px;
      width: 199px; }
  .leftMenu_item:after {
    content: "";
    display: block;
    margin-top: 1px;
    margin-left: -20px;
    width: 204px;
    border-bottom: 1px solid white; }
  .leftMenu_item .count {
    display: inline-block;
    margin-left: 10px; }

.leftMenu_item_posts {
  background: url(../img/sidebar/posts.png) no-repeat 168px center; }
  .leftMenu_item_posts.selected {
    background-position: 167px; }

.leftMenu_item_media {
  background: url(../img/sidebar/media.png) no-repeat 168px center; }
  .leftMenu_item_media.selected {
    background-position: 167px; }

.leftMenu_item_pages {
  background: url(../img/sidebar/pages.png) no-repeat 168px center; }
  .leftMenu_item_pages.selected {
    background-position: 167px; }

.leftMenu_item_links {
  background: url(../img/sidebar/links.png) no-repeat 168px center; }
  .leftMenu_item_links.selected {
    background-position: 167px; }

.leftMenu_item_comments {
  background: url(../img/sidebar/comments.png) no-repeat 168px center; }
  .leftMenu_item_comments.selected {
    background-position: 167px; }

.leftMenu_item_widgets {
  background: url(../img/sidebar/widgets.png) no-repeat 168px center; }
  .leftMenu_item_widgets.selected {
    background-position: 167px; }

.leftMenu_item_plugins {
  background: url(../img/sidebar/plugins.png) no-repeat 168px center; }
  .leftMenu_item_plugins.selected {
    background-position: 167px; }

.leftMenu_item_users {
  background: url(../img/sidebar/users.png) no-repeat 168px center; }
  .leftMenu_item_users.selected {
    background-position: 167px; }

.leftMenu_item_tools {
  background: url(../img/sidebar/tools.png) no-repeat 168px center; }
  .leftMenu_item_tools.selected {
    background-position: 167px; }

.leftMenu_item_settings {
  background: url(../img/sidebar/settings.png) no-repeat 168px center; }
  .leftMenu_item_settings.selected {
    background-position: 167px; }

.block_topBar {
  height: 50px;
  border-bottom: 1px solid #ebebeb; }

.topBar_panel {
  letter-spacing: -0.3em;
  height: 50px; }
  .topBar_panel > * {
    letter-spacing: normal; }

.topBar_panel_right {
  float: right;
  text-align: right;
  display: block;
  width: 495px; }
  .topBar_panel_right .topBar_item:first-child {
    border-left: 1px solid #ebebeb; }
  .topBar_panel_right .topBar_item:last-child {
    border-right: 0; }

.topBar_panel_left {
  display: inline-block; }

.topBar_item {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #ebebeb;
  border-top: 0;
  border-left: 0;
  cursor: pointer; }
  .topBar_item .count {
    position: absolute;
    left: 27px;
    top: 7px; }
  .topBar_item.add {
    background: url(../img/topBar/add.png) no-repeat center; }
  .topBar_item.cloud {
    background: url(../img/topBar/cloud.png) no-repeat center; }
  .topBar_item.comments {
    background: url(../img/topBar/comments.png) no-repeat center; }
  .topBar_item.alerts {
    background: url(../img/topBar/alerts.png) no-repeat center; }
  .topBar_item.wordpress {
    background: url(../img/topBar/wordpress.png) no-repeat center; }

.block_content {
  padding: 25px 30px; }

.content_title {
  background: url(../img/content/homeIcon.png) no-repeat 1px center;
  padding-left: 38px;
  color: #ea533f;
  font-size: 18px;
  font-weight: bold; }

.content_block {
  margin-top: 20px;
  padding: 17px;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  margin-right: 31px;
  float: left; }
  .content_block:last-child {
    margin-right: 0; }
  .content_block.size-2 {
    width: 311px; }

.content_block_title {
  margin-top: 6px;
  color: #000000;
  font-weight: normal;
  font-size: 17px; }

.rightNow {
  height: 243px; }
  .rightNow h3 {
    margin-bottom: 10px;
    padding-bottom: 7px;
    border-bottom: 1px dotted #999;
    color: #666666;
    font-size: 15px; }
  .rightNow td {
    font-size: 14px;
    padding-bottom: 11px; }
    .rightNow td:first-child {
      padding-right: 10px;
      text-align: right; }
  .rightNow .rightNow_content, .rightNow .rightNow_discussions {
    margin-top: 13px;
    font-size: 13px;
    width: 123px;
    float: left;
    margin-bottom: 13px; }

.rightNow_discussions {
  margin-left: 54px; }

.quickPress {
  height: 243px; }
  .quickPress input {
    width: 300px;
    margin-top: 6px; }

.quickPress_viewPanel {
  width: 100%;
  text-align: right;
  cursor: default; }

.quickPress_viewPanel_item {
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-top: 8px;
  margin-bottom: -4px;
  cursor: pointer; }
  .quickPress_viewPanel_item.view1 {
    background: url(../img/content/quickPress_view1.png); }
  .quickPress_viewPanel_item.view2 {
    background: url(../img/content/quickPress_view2_checked.png); }

.quickPress_controlPanel {
  margin-top: 17px; }

.quickPress_controlPanel_item {
  width: 37px;
  height: 29px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer; }
  .quickPress_controlPanel_item.save {
    background: #f3f3f3 url(../img/content/quickPress_save.png) no-repeat center; }
  .quickPress_controlPanel_item.delete {
    background: #f3f3f3 url(../img/content/quickPress_delete.png) no-repeat center; }

.quickPress_controlPanel_right {
  float: right; }

/*# sourceMappingURL=main.css.map */
