.block_sidebar
  width: $sideBarWidth - 1px // 1px for border
  height: 100%
  border-right: 1px solid $borderColor
  background: $bgColor
  float: left

  .block_logo
    height: 145px
    border-bottom: 1px solid $borderColor
    background: url(../img/sidebar_logo.png) no-repeat center

