.page_content
  @include hideSpaces()
  margin-top: 30px

.page_left
  display: inline-block
  margin-bottom: 16px
  width: 703px
  border-right: 1px solid $borderColor

.page_right
  display: inline-block
  margin-left: 13px
  box-sizing: border-box
  width: 224px
  vertical-align: top

.subMenu
  display: inline-block
  float: left
  width: 174px
  height: 370px
  border-right: 1px solid $borderColor

.slider
  display: inline-block
  width: 504px
  height: 330px
  margin-left: 12px
  vertical-align: top

.news_filters
  display: inline-block
  float: right
  margin-top: 11px
  margin-right: 12px

.news
  height: 503px
  clear: both

.magazines
  border-top: 1px solid $borderColor
  padding-top: 15px
  height: 263px

@import "subMenu"
@import "slider"
@import "newsFilters"
@import "news"
