.block_content
  margin-top: 30px

.block_subMenu
  width: 174px
  height: 370px
  border-right: 1px solid $borderColor
  display: inline-block

.content_left
  display: inline-block
  padding-left: 12px
  margin-bottom: 16px
  width: 703px
  border-right: 1px solid $borderColor

.block_slider
  display: inline-block
  height: 370px
  margin-left: 12px
  vertical-align: top
  width: 504px

.block_news
  padding-top: 12px
  height: 503px

.block_magazines
  border-top: 1px solid $borderColor
  padding-top: 15px
  height: 263px

@import "subMenu"
@import "slider"
