.footer
  background-color: #1F1F1F
  height: 70px
  width: 100%
  color: white
  display: block
  // Временное решение. Интерпритируем задание "по-своему", пока не нашли другой вариант
  padding: 0 40px
  position: relative
  left: -40px
