.header
  height: 120px

  .logo
    position: absolute
    top: 39px
    width: 162px
    height: 48px
    background: url(../img/logo.png) no-repeat
    cursor: pointer

  .search
    position: absolute
    top: 37px
    right: 186px

  .user
    position: absolute
    top: 37px
    right: 0

@import "search"
@import "user"
@import "mainMenu"
