.mainMenu_vertical
  margin-top: 5px
  height: 5px
  width: 100%
  background: #777

.mainMenu_container
  position: relative
  margin-top: -19px

.mainMenu_item
  @extend .disableSelectText
  display: inline-block
  width: 114px
  height: 70px
  text-align: center
  color: #555555
  cursor: pointer

  &.selected
    color: #fdcc05
    cursor: default

.mainMenu_item_icon
  display: inline-block
  width: 38px
  height: 30px
  margin-bottom: 11px

.mainMenu_item_label
  font-size: 16px
  font-weight: 600

@each $itemName in home, photography, video, environment, travel, adventure, television, kids
  .mainMenu_item_icon.#{$itemName}
    background: $pageColor url(../img/mainMenu/#{$itemName}.png) no-repeat center

  .mainMenu_item.selected .mainMenu_item_icon.#{$itemName}
    background: $pageColor url(../img/mainMenu/#{$itemName}_selected.png) no-repeat center
