.block_news
  position: relative
  top: -44px

.news_filters
  box-sizing: border-box
  width: 504px
  height: 32px
  position: relative
  left: 190px
  border: 1px solid #EEE
  background: white

.news_latest
  @extend .disableSelectText
  box-sizing: border-box
  width: 117px
  height: 30px
  line-height: 32px
  background: url(../img/icons/time.png) no-repeat 12px center
  padding-left: 37px
  font-weight: 600
  font-size: 12px
  color: #777
  float: left

.news_order
  display: inline-block
  position: relative
  cursor: pointer

.news_order_label
  @extend .disableSelectText
  box-sizing: border-box
  line-height: 24px
  height: 28px
  margin-top: 3px
  color: #cacaca
  font-size: 12px
  padding-left: 27px
  float: left
  width: 142px
  background: url(../img/icons/down.png) no-repeat 112px 9px

  &:before
    content: ''
    display: block
    float: left
    margin-top: 3px
    height: 19px
    width: 1px
    background: #EEE
    position: relative
    left: -27px

  &.active
    color: #a8a8a8
    background: url(../img/icons/downSelected.png) no-repeat 111px 8px
    border: 1px solid #F1F1F1
    border-bottom: 0
    line-height: 22px

    &:before
      display: none

.news_order_list
  display: none
  position: absolute
  top: 31px
  border: 1px solid #F1F1F1
  border-top: 0

.news_order_list_item
  display: block
  box-sizing: border-box
  width: 140px
  height: 35px
  line-height: 35px
  color: #999
  font-size: 15px
  text-align: center
  background: white
  cursor: pointer

  &:hover
    background: #555
    color: white

  &:first-child
    height: 34px

.news_displayModes
  @include hideSpaces()
  text-align: right
  display: inline-block
  position: relative
  float: right
  width: 243px

.news_displayMode
  display: inline-block
  width: 40px
  height: 30px
  cursor: pointer

  @each $displayMode in list, grid
    &.#{$displayMode}
      background: #555 url(../img/icons/#{$displayMode}.png) no-repeat center

  &.selected
    background-color: #fdcc05
    cursor: default

.news_content
  margin-top: 12px
  @include setLetterSpacing(11px)

.news_item
  display: inline-block
  position: relative
  margin-top: 12px
  box-sizing: border-box
  width: 340px
  height: 240px
  border: 1px solid #EEE
  padding: 4px
  background: white

  &:hover
    .news_item_more
      display: block
      // background: red

.news_item_header
  box-sizing: border-box
  width: 329px
  height: 148px
  border: 1px solid #EEE
  background: #FBFBFB
  padding: 4px

.news_item_title,
.news_item_date
  float: left
  width: 240px

.news_item_rating,
.news_item_votes
  float: right
  width: 75px

.news_item_title
  color: #777
  font-size: 14px
  font-weight: 600

.news_item_date
  color: #a0a0a0
  font-size: 11px

.news_item_votes
  @extend .news_item_date

.news_item_rating
  @include hideSpaces()

  @each $rating in 1, 2, 3, 4, 5
    &[data-rating="#{$rating}"]
      .news_item_rating_star:nth-child(-n+#{$rating})
        background: url(../img/icons/starFill.png) no-repeat

.news_item_rating_star
  display: inline-block
  width: 13px
  height: 13px
  background: url(../img/icons/starVoid.png) no-repeat

  margin-right: 2px
  &:last-child
    margin-right: 0

.news_item_description
  font-size: 12px
  color: #989898
  text-align: justify
  padding: 10px 3px

.news_item_more
  display: none
  position: absolute
  top: 0
  left: 0
  width: 340px
  height: 240px
  cursor: pointer

.news_item_more_border
  @extend .news_item_more
  box-sizing: border-box
  border: 1px solid #fbd128

.news_item_more_bg
  @extend .news_item_more
  background: #fdcc05
  opacity: 0.5

.news_item_more_icon
  @extend .news_item_more
  background: url(../img/icons/bigPlay.png) no-repeat center
