.block_search
  width: 442px
  height: 48px
  border: 1px solid #E8E8E8
  background: white url(../img/search/icon.png) no-repeat 9px
  border-radius: 2px
  font-family: "Myriad Pro"
  font-size: 15px

.search_input
  display: block
  position: absolute
  left: 42px
  width: 218px
  color: #CACACA
  outline: none
  border: 0
  height: 46px


@include placeholder('.search_input')
  color: #E7E7E7
  font-style: italic

$searchCategoryWidth: 138px
$searchCategoryPaddingLeft: 12px
$searchCategoryIconWidth: 18px
$searchCategoryIconPosition: $searchCategoryWidth + $searchCategoryPaddingLeft - $searchCategoryIconWidth - 22
.search_category_labelContainer
  display: block
  position: absolute
  top: 6px
  left: 261px
  width: 138px
  z-index: 5

  &.active
    height: 39px
    border: 1px solid #F1F1F1
    border-bottom-color: #FBFBFB
    width: $searchCategoryWidth

    .search_category_label
      margin-top: -7px
      border: 0
      color: #A8A8A8
      background: url(../img/search/category_downSelected.png) no-repeat $searchCategoryIconPosition

.search_category_label
  @extend .disableSelectText
  position: absolute
  top: 12px
  margin-top: -6px
  color: #CACACA
  cursor: pointer
  height: 25px
  line-height: 25px
  width: 126px
  background: url(../img/search/category_down.png) no-repeat $searchCategoryIconPosition
  border-right: 1px solid #eaeaea
  border-left: 1px solid #eaeaea
  padding-left: $searchCategoryPaddingLeft

.search_category_listContainer
  display: none
  position: absolute
  top: 46px
  left: -1px
  width: 442px
  border: 1px solid #E8E8E8
  background-color: white

.search_category_selectAll
  @extend .disableSelectText
  cursor: pointer
  margin-top: 11px
  margin-left: 5px
  padding-left: 25px
  background: url(../img/search/category_selectAllUnchecked.png) no-repeat left center
  color: #CCC
  font-size: 14px

  &.checked
    background-image: url(../img/search/category_selectAllChecked.png)

.search_category_list
  margin: 11px 0
  padding: 0
  width: 140px
  float: left

  &:first-child
    padding-left: 4px
    padding-right: 3px

  &:nth-child(2)
    border-left: 1px solid #E9E9E9
    border-right: 1px solid #E9E9E9
    padding: 0 3px

  &:last-child
    padding-left: 3px
    padding-right: 4px

.search_category_listItem
  @extend .disableSelectText
  height: 34px
  background: #ECECEC url(../img/search/category_x.png) no-repeat 8px
  line-height: 34px
  padding-left: 30px
  list-style: none
  color: #999
  cursor: pointer

  &:nth-child(odd)
    background-color: #F4F4F4

  &.bordered
    border-top: 1px solid #DDD
    border-left: 1px solid #DDD
    width: 109px
    height: 33px

  &.bordered.selected
    width: 110px

  &.selected
    border: none
    background: #555 url(../img/search/category_selected.png) no-repeat 8px
    color: white


.search_go
  position: absolute
  left: 409px
  top: 13px
  width: 22px
  height: 22px
  background: url(../img/search/go.png) no-repeat center
  cursor: pointer
