.slider_menu
  font-size: 12px
  color: #777

  .item
    @extend .disableSelectText
    display: block
    float: left
    margin-right: 6px
    min-width: 77px
    height: 28px
    border: 1px solid #EEE
    line-height: 28px
    text-align: center
    cursor: pointer

    &:last-child
      margin-right: 0

    &.selected
      border-color: #555
      background-color: #555
      color: white
      cursor: default

      &:after
        height: 11px
        width: 22px
        margin: auto
        background: url(../img/icons/arrowdown.png) no-repeat
        content: 'a'
        display: block
        text-align: center

.slider_slides
  position: relative
  clear: both
  font-weight: bold
  color: white

  .slides_container
    width: 504px
    height: 226px

  .slide
    display: none
    position: absolute
    top: 18px

  .pic
    height: 226px
    width: 504px
    overflow: hidden
    list-style: none

  .content
    float: left
    box-sizing: border-box
    height: 53px
    width: 451px
    border: 1px solid #EEE
    border-right: 0
    background: white
    padding: 9px 0 11px 13px

  .title
    font-size: 16px
    font-weight: bold
    color: #555

  .description
    font-size: 12px
    color: #555

.slider_paginator
  position: absolute
  top: 0
  left: 0
  width: 100%

  .paginator_container
    @include hideSpaces()
    text-align: right

  .marker
    @extend .disableSelectText
    display: inline-block
    margin-top: 18px
    width: 26px
    height: 30px
    background-color: #555
    line-height: 30px
    text-align: center
    color: white
    cursor: pointer

    &:after
      content: ''
      display: block
      margin-top: -25px
      width: 1px
      height: 19px
      background-color: #717171

    &:first-child:after
      display: none

    &.selected
      background: #fdcc05
      cursor: default

      &:after
        display: none

      + &:after
        display: none

.slider_control
  display: inline-block
  float: right
  position: relative
  top: 24px
  width: 51px
  height: 51px
  border: 1px solid #EEE
  background: white url(../img/icons/pause.png) no-repeat center
  cursor: pointer

  &.pause
    background: white url(../img/icons/play.png) no-repeat center
