$subMenuItems: dailyNews, magazine, maps, science, education, games, events, blogs, explorers, trips

.subMenu
  .container
    @include hideSpaces()
    width: 162px
    font-size: 11px
    color: #777
    font-weight: bold

  .item
    @extend .disableSelectText
    display: inline-block
    margin-top: 5px
    box-sizing: border-box
    width: 76px
    height: 70px
    border: 1px solid #EEE
    padding-top: 49px
    text-align: center
    cursor: pointer


    &:first-child,
    &:nth-child(2)
      margin: 0

    &.selected
      border-color: #555
      color: white
      cursor: default

    &:nth-child(odd)
      margin-right: 6px

    @each $itemName in $subMenuItems
      &.#{$itemName}
        background: white url(../img/subMenu/#{$itemName}.png) no-repeat 21px 10px

      &.#{$itemName}.selected
        background: #555 url(../img/subMenu/#{$itemName}_selected.png) no-repeat 21px 10px
