// TODO: Посмотреть, что во всех блоках общего, "вынести за скобки".
// TODO: Там, где это уместно, изменить стиль с использованием box-sizing

@import "../../css/mixins"
@import "../../css/reset"

$pageColor: #FBFBFB
$borderColor: #EAEAEA
$pageWidth: 941px
$pageLeft: $pageWidth / 2

body
  overflow-y: scroll
  min-width: $pageWidth
  background: $pageColor
  font-family: "Myriad pro"

.block_page
  background-color: $pageColor

.page_container
  position: absolute
  left: 50%
  width: $pageWidth
  margin-left: -$pageLeft

  @media (max-width: $pageWidth)
    left: 0,
    margin: 0

@import "header"
@import "content"
@import "rightContent"
@import "footer"
