.disableSelectText, .search_category_label, .search_category_selectAll, .search_category_listItem, .mainMenu_item, .subMenu_item, .slider_menu_item, .slider_index, .news_latest, .news_order_label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body,
h1,
h2,
h3,
ul,
li,
ol,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal; }

body {
  overflow-y: scroll;
  min-width: 941px;
  background: #FBFBFB;
  font-family: "Myriad pro"; }

.block_page {
  background-color: #FBFBFB; }

.page_container {
  position: absolute;
  left: 50%;
  width: 941px;
  margin-left: -470.5px; }
  @media (max-width: 941px) {
    .page_container {
      left: 0;
      margin: 0; } }

.block_header {
  height: 120px; }
  .block_header .block_logo {
    position: absolute;
    top: 39px;
    width: 162px;
    height: 48px;
    background: url(../img/logo.png) no-repeat;
    cursor: pointer; }
  .block_header .block_search {
    position: absolute;
    left: 351px;
    top: 37px; }
  .block_header .block_user {
    position: absolute;
    top: 37px;
    left: 818px; }

.block_search {
  width: 442px;
  height: 48px;
  border: 1px solid #E8E8E8;
  background: white url(../img/search/icon.png) no-repeat 9px;
  border-radius: 2px;
  font-size: 15px; }

.search_input {
  display: block;
  position: absolute;
  left: 42px;
  width: 218px;
  color: #CACACA;
  outline: none;
  border: 0;
  height: 46px; }

.search_input::-webkit-input-placeholder,
.search_input:-moz-placeholder,
.search_input::-moz-placeholder,
.search_input:-ms-input-placeholder {
  color: #E7E7E7;
  font-style: italic; }

.search_category_labelContainer {
  display: block;
  position: absolute;
  top: 6px;
  left: 261px;
  width: 138px;
  z-index: 5; }
  .search_category_labelContainer.active {
    height: 39px;
    border: 1px solid #F1F1F1;
    border-bottom-color: #FBFBFB;
    width: 138px; }
    .search_category_labelContainer.active .search_category_label {
      margin-top: -7px;
      border: 0;
      color: #A8A8A8;
      background: url(../img/icons/downSelected.png) no-repeat 110px; }

.search_category_label {
  position: absolute;
  top: 12px;
  margin-top: -6px;
  color: #CACACA;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  width: 126px;
  background: url(../img/icons/down.png) no-repeat 110px;
  border-right: 1px solid #EAEAEA;
  border-left: 1px solid #EAEAEA;
  padding-left: 12px; }

.search_category_listContainer {
  display: none;
  position: absolute;
  top: 46px;
  left: -1px;
  width: 442px;
  border: 1px solid #E8E8E8;
  background-color: white;
  z-index: 10; }

.search_category_selectAll {
  cursor: pointer;
  margin-top: 11px;
  margin-left: 5px;
  padding-left: 25px;
  background: url(../img/search/category_selectAllUnchecked.png) no-repeat left center;
  color: #CCC;
  font-size: 14px; }
  .search_category_selectAll.checked {
    background-image: url(../img/search/category_selectAllChecked.png); }

.search_category_list {
  margin: 11px 0;
  padding: 0;
  width: 140px;
  float: left; }
  .search_category_list:first-child {
    padding-left: 4px;
    padding-right: 3px; }
  .search_category_list:nth-child(2) {
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    padding: 0 3px; }
  .search_category_list:last-child {
    padding-left: 3px;
    padding-right: 4px; }

.search_category_listItem {
  height: 34px;
  background: #ECECEC url(../img/search/category_x.png) no-repeat 8px;
  line-height: 34px;
  padding-left: 30px;
  list-style: none;
  color: #999;
  cursor: pointer; }
  .search_category_listItem:nth-child(odd) {
    background-color: #F4F4F4; }
  .search_category_listItem.bordered {
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    width: 109px;
    height: 33px; }
  .search_category_listItem.bordered.selected {
    width: 110px; }
  .search_category_listItem.selected {
    border: none;
    background: #555 url(../img/search/category_selected.png) no-repeat 8px;
    color: white; }

.search_go {
  position: absolute;
  left: 409px;
  top: 13px;
  width: 22px;
  height: 22px;
  background: url(../img/search/go.png) no-repeat center;
  cursor: pointer; }

.block_user {
  width: 161px;
  height: 48px;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  background: white; }

.user_signUp, .user_signIn {
  display: block;
  position: absolute;
  border: 0;
  cursor: pointer;
  background: white url(../img/user/signUp.png) no-repeat 30px 9px;
  padding: 20px 0 0 0;
  font-size: 14px;
  color: #989898;
  width: 78px;
  height: 48px; }
  .user_signUp:focus, .user_signIn:focus {
    outline: 0; }

.user_delimiter {
  display: block;
  position: absolute;
  margin-top: 12px;
  background: #E9E9E9;
  width: 1px;
  left: 80px;
  height: 25px; }

.user_signIn {
  background-image: url(../img/user/signIn.png);
  left: 81px; }

.mainMenu_vertical {
  margin-top: 5px;
  height: 5px;
  width: 100%;
  background: #777; }

.mainMenu_container {
  position: relative;
  margin-top: -19px; }

.mainMenu_item {
  display: inline-block;
  width: 114px;
  height: 70px;
  text-align: center;
  color: #555555;
  cursor: pointer; }
  .mainMenu_item.selected {
    color: #fdcc05;
    cursor: default; }

.mainMenu_item_icon {
  display: inline-block;
  width: 38px;
  height: 30px;
  margin-bottom: 11px; }

.mainMenu_item_label {
  font-size: 16px;
  font-weight: 600; }

.mainMenu_item_icon.home {
  background: #FBFBFB url(../img/mainMenu/home.png) no-repeat center; }

.mainMenu_item.selected .mainMenu_item_icon.home {
  background: #FBFBFB url(../img/mainMenu/home_selected.png) no-repeat center; }

.mainMenu_item_icon.photography {
  background: #FBFBFB url(../img/mainMenu/photography.png) no-repeat center; }

.mainMenu_item.selected .mainMenu_item_icon.photography {
  background: #FBFBFB url(../img/mainMenu/photography_selected.png) no-repeat center; }

.mainMenu_item_icon.video {
  background: #FBFBFB url(../img/mainMenu/video.png) no-repeat center; }

.mainMenu_item.selected .mainMenu_item_icon.video {
  background: #FBFBFB url(../img/mainMenu/video_selected.png) no-repeat center; }

.mainMenu_item_icon.environment {
  background: #FBFBFB url(../img/mainMenu/environment.png) no-repeat center; }

.mainMenu_item.selected .mainMenu_item_icon.environment {
  background: #FBFBFB url(../img/mainMenu/environment_selected.png) no-repeat center; }

.mainMenu_item_icon.travel {
  background: #FBFBFB url(../img/mainMenu/travel.png) no-repeat center; }

.mainMenu_item.selected .mainMenu_item_icon.travel {
  background: #FBFBFB url(../img/mainMenu/travel_selected.png) no-repeat center; }

.mainMenu_item_icon.adventure {
  background: #FBFBFB url(../img/mainMenu/adventure.png) no-repeat center; }

.mainMenu_item.selected .mainMenu_item_icon.adventure {
  background: #FBFBFB url(../img/mainMenu/adventure_selected.png) no-repeat center; }

.mainMenu_item_icon.television {
  background: #FBFBFB url(../img/mainMenu/television.png) no-repeat center; }

.mainMenu_item.selected .mainMenu_item_icon.television {
  background: #FBFBFB url(../img/mainMenu/television_selected.png) no-repeat center; }

.mainMenu_item_icon.kids {
  background: #FBFBFB url(../img/mainMenu/kids.png) no-repeat center; }

.mainMenu_item.selected .mainMenu_item_icon.kids {
  background: #FBFBFB url(../img/mainMenu/kids_selected.png) no-repeat center; }

.block_content {
  margin-top: 30px; }

.block_subMenu {
  width: 174px;
  height: 370px;
  border-right: 1px solid #EAEAEA;
  display: inline-block; }

.content_left {
  display: inline-block;
  padding-left: 12px;
  margin-bottom: 16px;
  width: 703px;
  border-right: 1px solid #EAEAEA; }

.block_slider {
  display: inline-block;
  height: 370px;
  margin-left: 12px;
  vertical-align: top;
  width: 504px; }

.block_news {
  padding-top: 12px;
  height: 503px; }

.block_magazines {
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
  height: 263px; }

.subMenu_container {
  letter-spacing: -0.3em;
  width: 162px;
  font-size: 11px;
  color: #777;
  font-weight: bold; }
  .subMenu_container > * {
    letter-spacing: normal; }

.subMenu_item {
  display: inline-block;
  width: 76px;
  height: 19px;
  border: 1px solid #EEE;
  padding-top: 49px;
  margin-top: 5px;
  cursor: pointer;
  text-align: center; }
  .subMenu_item:last-child, .subMenu_item:nth-child(2) {
    margin: 0; }
  .subMenu_item.selected {
    border-color: #555;
    color: white;
    cursor: default; }
  .subMenu_item:nth-child(odd) {
    margin-right: 6px; }
  .subMenu_item.dailyNews {
    background: white url(../img/subMenu/dailyNews.png) no-repeat 21px 10px; }
  .subMenu_item.dailyNews.selected {
    background: #555 url(../img/subMenu/dailyNews_selected.png) no-repeat 21px 10px; }
  .subMenu_item.magazine {
    background: white url(../img/subMenu/magazine.png) no-repeat 21px 10px; }
  .subMenu_item.magazine.selected {
    background: #555 url(../img/subMenu/magazine_selected.png) no-repeat 21px 10px; }
  .subMenu_item.maps {
    background: white url(../img/subMenu/maps.png) no-repeat 21px 10px; }
  .subMenu_item.maps.selected {
    background: #555 url(../img/subMenu/maps_selected.png) no-repeat 21px 10px; }
  .subMenu_item.science {
    background: white url(../img/subMenu/science.png) no-repeat 21px 10px; }
  .subMenu_item.science.selected {
    background: #555 url(../img/subMenu/science_selected.png) no-repeat 21px 10px; }
  .subMenu_item.education {
    background: white url(../img/subMenu/education.png) no-repeat 21px 10px; }
  .subMenu_item.education.selected {
    background: #555 url(../img/subMenu/education_selected.png) no-repeat 21px 10px; }
  .subMenu_item.games {
    background: white url(../img/subMenu/games.png) no-repeat 21px 10px; }
  .subMenu_item.games.selected {
    background: #555 url(../img/subMenu/games_selected.png) no-repeat 21px 10px; }
  .subMenu_item.events {
    background: white url(../img/subMenu/events.png) no-repeat 21px 10px; }
  .subMenu_item.events.selected {
    background: #555 url(../img/subMenu/events_selected.png) no-repeat 21px 10px; }
  .subMenu_item.blogs {
    background: white url(../img/subMenu/blogs.png) no-repeat 21px 10px; }
  .subMenu_item.blogs.selected {
    background: #555 url(../img/subMenu/blogs_selected.png) no-repeat 21px 10px; }
  .subMenu_item.explorers {
    background: white url(../img/subMenu/explorers.png) no-repeat 21px 10px; }
  .subMenu_item.explorers.selected {
    background: #555 url(../img/subMenu/explorers_selected.png) no-repeat 21px 10px; }
  .subMenu_item.trips {
    background: white url(../img/subMenu/trips.png) no-repeat 21px 10px; }
  .subMenu_item.trips.selected {
    background: #555 url(../img/subMenu/trips_selected.png) no-repeat 21px 10px; }

.slider_menu {
  font-size: 12px;
  color: #777; }

.slider_menu_item {
  display: block;
  float: left;
  min-width: 65px;
  padding: 0 6px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #EEE;
  margin-right: 6px;
  cursor: pointer; }
  .slider_menu_item:last-child {
    margin-right: 0; }
  .slider_menu_item.selected {
    border-color: #555;
    background-color: #555;
    color: white;
    cursor: default; }
    .slider_menu_item.selected:after {
      height: 11px;
      width: 22px;
      margin: auto;
      background: url(../img/icons/arrowdown.png);
      content: "a";
      display: block;
      text-align: center; }

.slider_slides_container {
  position: relative;
  clear: both;
  font-weight: 600;
  color: white; }

.slider_slides {
  width: 504px;
  height: 226px; }

.slider_slide {
  position: absolute;
  top: 18px;
  display: none; }

.slider_pic {
  list-style: none;
  height: 226px;
  width: 504px;
  overflow: hidden; }

.slider_paginator {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.slider_paginator_container {
  text-align: right;
  letter-spacing: -0.3em; }
  .slider_paginator_container > * {
    letter-spacing: normal; }

.slider_index {
  text-align: center;
  margin-top: 18px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  width: 26px;
  background-color: #555;
  color: white;
  cursor: pointer; }
  .slider_index:after {
    content: "";
    display: block;
    height: 19px;
    width: 1px;
    margin-top: -25px;
    background-color: #717171; }
  .slider_index:first-child:after {
    display: none; }
  .slider_index.selected {
    background: #fdcc05;
    cursor: default; }
    .slider_index.selected:after {
      display: none; }
    + .slider_index.selected:after {
      display: none; }

.slider_content {
  border: 1px solid #EEE;
  border-right: 0;
  padding: 9px 0 11px 13px;
  box-sizing: border-box;
  height: 53px;
  width: 451px;
  float: left;
  background: white; }

.slider_content_title {
  color: #555;
  font-size: 16px;
  font-weight: bold; }

.slider_content_description {
  color: #555;
  font-size: 12px; }

.slider_control {
  display: inline-block;
  float: right;
  position: relative;
  top: 24px;
  width: 51px;
  height: 51px;
  border: 1px solid #EEE;
  cursor: pointer;
  background: white url(../img/icons/pause.png) no-repeat center; }
  .slider_control.pause {
    background: url(../img/icons/play.png) no-repeat center; }

.block_news {
  position: relative;
  top: -44px; }

.news_filters {
  box-sizing: border-box;
  width: 504px;
  height: 32px;
  position: relative;
  left: 190px;
  border: 1px solid #EEE;
  background: white; }

.news_latest {
  box-sizing: border-box;
  width: 117px;
  height: 30px;
  line-height: 32px;
  background: url(../img/icons/time.png) no-repeat 12px center;
  padding-left: 37px;
  font-weight: 600;
  font-size: 12px;
  color: #777;
  float: left; }

.news_order {
  display: inline-block;
  position: relative;
  cursor: pointer; }

.news_order_label {
  box-sizing: border-box;
  line-height: 24px;
  height: 28px;
  margin-top: 3px;
  color: #cacaca;
  font-size: 12px;
  padding-left: 27px;
  float: left;
  width: 142px;
  background: url(../img/icons/down.png) no-repeat 112px 9px; }
  .news_order_label:before {
    content: "";
    display: block;
    float: left;
    margin-top: 3px;
    height: 19px;
    width: 1px;
    background: #EEE;
    position: relative;
    left: -27px; }
  .news_order_label.active {
    color: #a8a8a8;
    background: url(../img/icons/downSelected.png) no-repeat 111px 8px;
    border: 1px solid #F1F1F1;
    border-bottom: 0;
    line-height: 22px; }
    .news_order_label.active:before {
      display: none; }

.news_order_list {
  display: none;
  position: absolute;
  top: 31px;
  border: 1px solid #F1F1F1;
  border-top: 0; }

.news_order_list_item {
  display: block;
  box-sizing: border-box;
  width: 140px;
  height: 35px;
  line-height: 35px;
  color: #999;
  font-size: 15px;
  text-align: center;
  background: white;
  cursor: pointer; }
  .news_order_list_item:hover {
    background: #555;
    color: white; }
  .news_order_list_item:first-child {
    height: 34px; }

.news_displayModes {
  letter-spacing: -0.3em;
  text-align: right;
  display: inline-block;
  position: relative;
  float: right;
  width: 243px; }
  .news_displayModes > * {
    letter-spacing: normal; }

.news_displayMode {
  display: inline-block;
  width: 40px;
  height: 30px;
  cursor: pointer; }
  .news_displayMode.list {
    background: #555 url(../img/icons/list.png) no-repeat center; }
  .news_displayMode.grid {
    background: #555 url(../img/icons/grid.png) no-repeat center; }
  .news_displayMode.selected {
    background-color: #fdcc05;
    cursor: default; }

.news_content {
  margin-top: 12px;
  letter-spacing: 11px; }
  .news_content > * {
    letter-spacing: normal; }

.news_item {
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 340px;
  height: 240px;
  border: 1px solid #EEE;
  padding: 4px;
  background: white; }

.news_item_header {
  box-sizing: border-box;
  width: 329px;
  height: 148px;
  border: 1px solid #EEE;
  background: #FBFBFB;
  padding: 4px; }

.news_item_title,
.news_item_date,
.news_item_votes {
  float: left;
  width: 240px; }

.news_item_rating,
.news_item_votes {
  float: right;
  width: 75px; }

.news_item_title {
  color: #777;
  font-size: 14px;
  font-weight: 600; }

.news_item_date, .news_item_votes {
  color: #a0a0a0;
  font-size: 11px; }

.news_item_rating {
  letter-spacing: -0.3em; }
  .news_item_rating > * {
    letter-spacing: normal; }
  .news_item_rating[data-rating="1"] .news_item_rating_star:nth-child(-n+1) {
    background: url(../img/icons/starFill.png) no-repeat; }
  .news_item_rating[data-rating="2"] .news_item_rating_star:nth-child(-n+2) {
    background: url(../img/icons/starFill.png) no-repeat; }
  .news_item_rating[data-rating="3"] .news_item_rating_star:nth-child(-n+3) {
    background: url(../img/icons/starFill.png) no-repeat; }
  .news_item_rating[data-rating="4"] .news_item_rating_star:nth-child(-n+4) {
    background: url(../img/icons/starFill.png) no-repeat; }
  .news_item_rating[data-rating="5"] .news_item_rating_star:nth-child(-n+5) {
    background: url(../img/icons/starFill.png) no-repeat; }

.news_item_rating_star {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/icons/starVoid.png) no-repeat;
    background-margin-right: 2px; }
  .news_item_rating_star:last-child {
    margin-right: 0; }

.news_item_description {
  font-size: 12px;
  color: #989898;
  text-align: justify;
  padding: 10px 3px; }

.block_footer {
  background-color: #1F1F1F;
  height: 70px;
  width: 100%;
  color: white;
  display: block;
  padding: 0 40px;
  position: relative;
  left: -40px; }

/*# sourceMappingURL=main.css.map */
