.disableSelectText, .search_category .label, .search_category .selectAll, .search_category .list .list_item, .mainMenu .item, .subMenu .item, .slider_menu .item, .slider_paginator .marker, .news_filters .labelLatest, .news_order .label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body,
h1,
h2,
h3,
ul,
li,
ol,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal; }

body {
  overflow-y: scroll;
  min-width: 941px;
  background: #FBFBFB;
  font-family: "Myriad pro"; }

.page {
  background-color: #FBFBFB; }

.page_container {
  position: absolute;
  left: 50%;
  width: 941px;
  margin-left: -470.5px; }
  @media (max-width: 941px) {
    .page_container {
      left: 0;
      margin: 0; } }

.header {
  height: 120px; }
  .header .logo {
    position: absolute;
    top: 39px;
    width: 162px;
    height: 48px;
    background: url(../img/logo.png) no-repeat;
    cursor: pointer; }
  .header .search {
    position: absolute;
    left: 351px;
    top: 37px; }
  .header .user {
    position: absolute;
    top: 37px;
    left: 818px; }

.search {
  box-sizing: border-box;
  width: 444px;
  height: 50px;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  background: white url(../img/search/icon.png) no-repeat 9px;
  font-size: 15px; }
  .search .input {
    display: block;
    position: absolute;
    left: 42px;
    width: 218px;
    height: 46px;
    outline: none;
    border: 0;
    color: #CACACA; }
  .search .input::-webkit-input-placeholder,
  .search .input:-moz-placeholder,
  .search .input::-moz-placeholder,
  .search .input:-ms-input-placeholder {
    color: #E7E7E7;
    font-style: italic; }

.go {
  position: absolute;
  left: 409px;
  top: 13px;
  width: 22px;
  height: 22px;
  background: url(../img/icons/next.png) no-repeat center;
  cursor: pointer; }

.search_category .label_wrapper {
  display: block;
  position: absolute;
  top: 6px;
  left: 261px;
  width: 138px;
  z-index: 5; }
  .search_category .label_wrapper.active {
    height: 39px;
    border: 1px solid #F1F1F1;
    border-bottom-color: #FBFBFB;
    width: 138px; }
    .search_category .label_wrapper.active .label {
      margin-top: -7px;
      border: 0;
      color: #A8A8A8;
      background: url(../img/icons/downSelected.png) no-repeat 110px; }
.search_category .label {
  position: absolute;
  top: 12px;
  margin-top: -6px;
  width: 126px;
  height: 25px;
  border-color: #EAEAEA;
  border-style: solid;
  border-width: 0 1px;
  background: url(../img/icons/down.png) no-repeat 110px;
  padding-left: 12px;
  line-height: 25px;
  color: #CACACA;
  cursor: pointer; }
.search_category .list_wrapper {
  display: none;
  position: absolute;
  top: 46px;
  left: -1px;
  width: 442px;
  border: 1px solid #E8E8E8;
  background-color: white;
  z-index: 10; }
.search_category .selectAll {
  cursor: pointer;
  margin-top: 11px;
  margin-left: 5px;
  background: url(../img/search/category_selectAllUnchecked.png) no-repeat left center;
  padding-left: 25px;
  color: #CCC;
  font-size: 14px; }
  .search_category .selectAll.checked {
    background-image: url(../img/search/category_selectAllChecked.png); }
.search_category .list {
  float: left;
  margin: 11px 0;
  width: 140px;
  padding: 0; }
  .search_category .list:first-child {
    padding-left: 4px;
    padding-right: 3px; }
  .search_category .list:nth-child(2) {
    border-color: #E9E9E9;
    border-style: solid;
    border-width: 0 1px;
    padding: 0 3px; }
  .search_category .list:last-child {
    padding-left: 3px;
    padding-right: 4px; }
  .search_category .list .list_item {
    box-sizing: border-box;
    width: 140px;
    height: 35px;
    background: #ECECEC url(../img/search/category_x.png) no-repeat 8px;
    padding-left: 30px;
    list-style: none;
    line-height: 34px;
    color: #999;
    cursor: pointer; }
    .search_category .list .list_item:nth-child(odd) {
      background-color: #F4F4F4; }
    .search_category .list .list_item.bordered {
      border-top: 1px solid #DDD;
      border-left: 1px solid #DDD; }
    .search_category .list .list_item.selected {
      border: none;
      background: #555 url(../img/search/category_selected.png) no-repeat 8px;
      color: white; }

.user {
  width: 161px;
  height: 48px;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  background: white; }
  .user .signUp, .user .signIn {
    display: block;
    position: absolute;
    border: 0;
    cursor: pointer;
    background: white url(../img/user/signUp.png) no-repeat 30px 9px;
    padding: 20px 0 0 0;
    font-size: 14px;
    color: #989898;
    width: 78px;
    height: 48px; }
    .user .signUp:focus, .user .signIn:focus {
      outline: 0; }
  .user .delimiter {
    display: block;
    position: absolute;
    margin-top: 12px;
    background: #E9E9E9;
    width: 1px;
    left: 80px;
    height: 25px; }
  .user .signIn {
    background-image: url(../img/user/signIn.png);
    left: 81px; }

.mainMenu .container {
  position: relative;
  margin-top: -19px; }
.mainMenu .line {
  margin-top: 5px;
  height: 5px;
  width: 100%;
  background: #777; }
.mainMenu .item {
  display: inline-block;
  width: 114px;
  height: 70px;
  text-align: center;
  color: #555555;
  cursor: pointer; }
  .mainMenu .item.selected {
    color: #fdcc05;
    cursor: default; }
.mainMenu .item_icon {
  display: inline-block;
  width: 38px;
  height: 30px;
  margin-bottom: 11px; }
.mainMenu .item_label {
  font-size: 16px;
  font-weight: bold; }
.mainMenu .item_icon.home {
  background: #FBFBFB url(../img/mainMenu/home.png) no-repeat center; }
.mainMenu .item.selected .item_icon.home {
  background: #FBFBFB url(../img/mainMenu/home_selected.png) no-repeat center; }
.mainMenu .item_icon.photography {
  background: #FBFBFB url(../img/mainMenu/photography.png) no-repeat center; }
.mainMenu .item.selected .item_icon.photography {
  background: #FBFBFB url(../img/mainMenu/photography_selected.png) no-repeat center; }
.mainMenu .item_icon.video {
  background: #FBFBFB url(../img/mainMenu/video.png) no-repeat center; }
.mainMenu .item.selected .item_icon.video {
  background: #FBFBFB url(../img/mainMenu/video_selected.png) no-repeat center; }
.mainMenu .item_icon.environment {
  background: #FBFBFB url(../img/mainMenu/environment.png) no-repeat center; }
.mainMenu .item.selected .item_icon.environment {
  background: #FBFBFB url(../img/mainMenu/environment_selected.png) no-repeat center; }
.mainMenu .item_icon.travel {
  background: #FBFBFB url(../img/mainMenu/travel.png) no-repeat center; }
.mainMenu .item.selected .item_icon.travel {
  background: #FBFBFB url(../img/mainMenu/travel_selected.png) no-repeat center; }
.mainMenu .item_icon.adventure {
  background: #FBFBFB url(../img/mainMenu/adventure.png) no-repeat center; }
.mainMenu .item.selected .item_icon.adventure {
  background: #FBFBFB url(../img/mainMenu/adventure_selected.png) no-repeat center; }
.mainMenu .item_icon.television {
  background: #FBFBFB url(../img/mainMenu/television.png) no-repeat center; }
.mainMenu .item.selected .item_icon.television {
  background: #FBFBFB url(../img/mainMenu/television_selected.png) no-repeat center; }
.mainMenu .item_icon.kids {
  background: #FBFBFB url(../img/mainMenu/kids.png) no-repeat center; }
.mainMenu .item.selected .item_icon.kids {
  background: #FBFBFB url(../img/mainMenu/kids_selected.png) no-repeat center; }

.page_content {
  letter-spacing: -0.3em;
  margin-top: 30px; }
  .page_content > * {
    letter-spacing: normal; }

.page_left {
  display: inline-block;
  margin-bottom: 16px;
  width: 703px;
  border-right: 1px solid #EAEAEA; }

.page_right {
  display: inline-block;
  margin-left: 13px;
  box-sizing: border-box;
  width: 224px;
  vertical-align: top; }

.subMenu {
  display: inline-block;
  float: left;
  width: 174px;
  height: 370px;
  border-right: 1px solid #EAEAEA; }

.slider {
  display: inline-block;
  width: 504px;
  height: 330px;
  margin-left: 12px;
  vertical-align: top; }

.news_filters {
  display: inline-block;
  float: right;
  margin-top: 11px;
  margin-right: 12px; }

.news {
  height: 503px;
  clear: both; }

.magazines {
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
  height: 263px; }

.subMenu .container {
  letter-spacing: -0.3em;
  width: 162px;
  font-size: 11px;
  color: #777;
  font-weight: bold; }
  .subMenu .container > * {
    letter-spacing: normal; }
.subMenu .item {
  display: inline-block;
  margin-top: 5px;
  box-sizing: border-box;
  width: 76px;
  height: 70px;
  border: 1px solid #EEE;
  padding-top: 49px;
  text-align: center;
  cursor: pointer; }
  .subMenu .item:first-child, .subMenu .item:nth-child(2) {
    margin: 0; }
  .subMenu .item.selected {
    border-color: #555;
    color: white;
    cursor: default; }
  .subMenu .item:nth-child(odd) {
    margin-right: 6px; }
  .subMenu .item.dailyNews {
    background: white url(../img/subMenu/dailyNews.png) no-repeat 21px 10px; }
  .subMenu .item.dailyNews.selected {
    background: #555 url(../img/subMenu/dailyNews_selected.png) no-repeat 21px 10px; }
  .subMenu .item.magazine {
    background: white url(../img/subMenu/magazine.png) no-repeat 21px 10px; }
  .subMenu .item.magazine.selected {
    background: #555 url(../img/subMenu/magazine_selected.png) no-repeat 21px 10px; }
  .subMenu .item.maps {
    background: white url(../img/subMenu/maps.png) no-repeat 21px 10px; }
  .subMenu .item.maps.selected {
    background: #555 url(../img/subMenu/maps_selected.png) no-repeat 21px 10px; }
  .subMenu .item.science {
    background: white url(../img/subMenu/science.png) no-repeat 21px 10px; }
  .subMenu .item.science.selected {
    background: #555 url(../img/subMenu/science_selected.png) no-repeat 21px 10px; }
  .subMenu .item.education {
    background: white url(../img/subMenu/education.png) no-repeat 21px 10px; }
  .subMenu .item.education.selected {
    background: #555 url(../img/subMenu/education_selected.png) no-repeat 21px 10px; }
  .subMenu .item.games {
    background: white url(../img/subMenu/games.png) no-repeat 21px 10px; }
  .subMenu .item.games.selected {
    background: #555 url(../img/subMenu/games_selected.png) no-repeat 21px 10px; }
  .subMenu .item.events {
    background: white url(../img/subMenu/events.png) no-repeat 21px 10px; }
  .subMenu .item.events.selected {
    background: #555 url(../img/subMenu/events_selected.png) no-repeat 21px 10px; }
  .subMenu .item.blogs {
    background: white url(../img/subMenu/blogs.png) no-repeat 21px 10px; }
  .subMenu .item.blogs.selected {
    background: #555 url(../img/subMenu/blogs_selected.png) no-repeat 21px 10px; }
  .subMenu .item.explorers {
    background: white url(../img/subMenu/explorers.png) no-repeat 21px 10px; }
  .subMenu .item.explorers.selected {
    background: #555 url(../img/subMenu/explorers_selected.png) no-repeat 21px 10px; }
  .subMenu .item.trips {
    background: white url(../img/subMenu/trips.png) no-repeat 21px 10px; }
  .subMenu .item.trips.selected {
    background: #555 url(../img/subMenu/trips_selected.png) no-repeat 21px 10px; }

.slider_menu {
  font-size: 12px;
  color: #777; }
  .slider_menu .item {
    display: block;
    float: left;
    margin-right: 6px;
    min-width: 77px;
    height: 28px;
    border: 1px solid #EEE;
    line-height: 28px;
    text-align: center;
    cursor: pointer; }
    .slider_menu .item:last-child {
      margin-right: 0; }
    .slider_menu .item.selected {
      border-color: #555;
      background-color: #555;
      color: white;
      cursor: default; }
      .slider_menu .item.selected:after {
        height: 11px;
        width: 22px;
        margin: auto;
        background: url(../img/icons/arrowdown.png) no-repeat;
        content: "a";
        display: block;
        text-align: center; }

.slider_slides {
  position: relative;
  clear: both;
  font-weight: bold;
  color: white; }
  .slider_slides .slides_container {
    width: 504px;
    height: 226px; }
  .slider_slides .slide {
    display: none;
    position: absolute;
    top: 18px; }
  .slider_slides .pic {
    height: 226px;
    width: 504px;
    overflow: hidden;
    list-style: none; }
  .slider_slides .content {
    float: left;
    box-sizing: border-box;
    height: 53px;
    width: 451px;
    border: 1px solid #EEE;
    border-right: 0;
    background: white;
    padding: 9px 0 11px 13px; }
  .slider_slides .title {
    font-size: 16px;
    font-weight: bold;
    color: #555; }
  .slider_slides .description {
    font-size: 12px;
    color: #555; }

.slider_paginator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .slider_paginator .paginator_container {
    letter-spacing: -0.3em;
    text-align: right; }
    .slider_paginator .paginator_container > * {
      letter-spacing: normal; }
  .slider_paginator .marker {
    display: inline-block;
    margin-top: 18px;
    width: 26px;
    height: 30px;
    background-color: #555;
    line-height: 30px;
    text-align: center;
    color: white;
    cursor: pointer; }
    .slider_paginator .marker:after {
      content: "";
      display: block;
      margin-top: -25px;
      width: 1px;
      height: 19px;
      background-color: #717171; }
    .slider_paginator .marker:first-child:after {
      display: none; }
    .slider_paginator .marker.selected {
      background: #fdcc05;
      cursor: default; }
      .slider_paginator .marker.selected:after {
        display: none; }
      + .slider_paginator .marker.selected:after {
        display: none; }

.slider_control {
  display: inline-block;
  float: right;
  position: relative;
  top: 24px;
  width: 51px;
  height: 51px;
  border: 1px solid #EEE;
  background: white url(../img/icons/pause.png) no-repeat center;
  cursor: pointer; }
  .slider_control.pause {
    background: white url(../img/icons/play.png) no-repeat center; }

.news_filters {
  box-sizing: border-box;
  width: 504px;
  height: 32px;
  border: 1px solid #EEE;
  background: white; }
  .news_filters .labelLatest {
    float: left;
    box-sizing: border-box;
    width: 117px;
    height: 30px;
    background: url(../img/icons/time.png) no-repeat 12px center;
    padding-left: 37px;
    line-height: 32px;
    font-size: 12px;
    font-weight: bold;
    color: #777; }
  .news_filters .list {
    display: none;
    position: absolute;
    top: 31px;
    border: 1px solid #F1F1F1;
    border-top: 0; }
  .news_filters .item {
    display: block;
    box-sizing: border-box;
    width: 140px;
    height: 35px;
    background: white;
    line-height: 35px;
    font-size: 15px;
    text-align: center;
    color: #999;
    cursor: pointer; }
    .news_filters .item:hover {
      background: #555;
      color: white; }
    .news_filters .item:first-child {
      height: 34px; }
  .news_filters .displayModes {
    letter-spacing: -0.3em;
    display: inline-block;
    position: relative;
    float: right;
    width: 243px;
    text-align: right; }
    .news_filters .displayModes > * {
      letter-spacing: normal; }
  .news_filters .displayMode {
    display: inline-block;
    width: 40px;
    height: 30px;
    cursor: pointer; }
    .news_filters .displayMode.displayMode__list {
      background: #555 url(../img/icons/list.png) no-repeat center; }
    .news_filters .displayMode.displayMode__grid {
      background: #555 url(../img/icons/grid.png) no-repeat center; }
    .news_filters .displayMode.selected {
      background-color: #fdcc05;
      cursor: default; }

.news_order {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 10; }
  .news_order .label {
    float: left;
    margin-top: 3px;
    box-sizing: border-box;
    width: 142px;
    height: 28px;
    background: url(../img/icons/down.png) no-repeat 112px 9px;
    padding-left: 27px;
    line-height: 24px;
    font-size: 12px;
    color: #cacaca; }
    .news_order .label:before {
      content: "";
      display: block;
      position: relative;
      float: left;
      left: -27px;
      margin-top: 3px;
      height: 19px;
      width: 1px;
      background: #EEE; }
    .news_order .label.active {
      border: 1px solid #F1F1F1;
      border-bottom: 0;
      background: url(../img/icons/downSelected.png) no-repeat 111px 8px;
      line-height: 22px;
      color: #a8a8a8; }
      .news_order .label.active:before {
        display: none; }

.newsInfo, .news_item_header, .popularNews_item {
  box-sizing: border-box;
  border: 1px solid #EEE;
  background: #FBFBFB;
  padding: 4px; }
  .newsInfo .pic, .news_item_header .pic, .popularNews_item .pic {
    display: block;
    margin-bottom: 6px; }
  .newsInfo .title, .news_item_header .title, .popularNews_item .title {
    float: left;
    color: #777;
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
    height: 15px; }
  .newsInfo .date, .news_item_header .date, .popularNews_item .date {
    float: left;
    color: #a0a0a0;
    font-size: 11px; }
  .newsInfo .votes, .news_item_header .votes, .popularNews_item .votes {
    color: #a0a0a0;
    font-size: 11px;
    float: right;
    width: 75px; }
  .newsInfo .rating, .news_item_header .rating, .popularNews_item .rating {
    letter-spacing: -0.3em;
    float: right;
    width: 75px;
    height: 17px; }
    .newsInfo .rating > *, .news_item_header .rating > *, .popularNews_item .rating > * {
      letter-spacing: normal; }
    .newsInfo .rating .star, .news_item_header .rating .star, .popularNews_item .rating .star {
      display: inline-block;
      width: 13px;
      height: 13px;
      background: url(../img/icons/starVoid.png) no-repeat;
      margin-right: 2px; }
      .newsInfo .rating .star:last-child, .news_item_header .rating .star:last-child, .popularNews_item .rating .star:last-child {
        margin-right: 0; }
    .newsInfo .rating[data-rating="1"] .star:nth-child(-n+1), .news_item_header .rating[data-rating="1"] .star:nth-child(-n+1), .popularNews_item .rating[data-rating="1"] .star:nth-child(-n+1) {
      background: url(../img/icons/starFill.png) no-repeat; }
    .newsInfo .rating[data-rating="2"] .star:nth-child(-n+2), .news_item_header .rating[data-rating="2"] .star:nth-child(-n+2), .popularNews_item .rating[data-rating="2"] .star:nth-child(-n+2) {
      background: url(../img/icons/starFill.png) no-repeat; }
    .newsInfo .rating[data-rating="3"] .star:nth-child(-n+3), .news_item_header .rating[data-rating="3"] .star:nth-child(-n+3), .popularNews_item .rating[data-rating="3"] .star:nth-child(-n+3) {
      background: url(../img/icons/starFill.png) no-repeat; }
    .newsInfo .rating[data-rating="4"] .star:nth-child(-n+4), .news_item_header .rating[data-rating="4"] .star:nth-child(-n+4), .popularNews_item .rating[data-rating="4"] .star:nth-child(-n+4) {
      background: url(../img/icons/starFill.png) no-repeat; }
    .newsInfo .rating[data-rating="5"] .star:nth-child(-n+5), .news_item_header .rating[data-rating="5"] .star:nth-child(-n+5), .popularNews_item .rating[data-rating="5"] .star:nth-child(-n+5) {
      background: url(../img/icons/starFill.png) no-repeat; }

.news_content {
  margin-top: 12px;
  letter-spacing: 11px; }
  .news_content > * {
    letter-spacing: normal; }

.news_item {
  display: inline-block;
  position: relative;
  margin-top: 12px;
  box-sizing: border-box;
  width: 340px;
  height: 240px;
  border: 1px solid #EEE;
  padding: 4px;
  background: white; }
  .news_item:hover .news_item_more, .news_item:hover .news_item_more_border, .news_item:hover .news_item_more_bg, .news_item:hover .news_item_more_icon {
    display: block; }

.news_item_header {
  width: 329px;
  height: 148px; }
  .news_item_header .title,
  .news_item_header .date {
    width: 240px; }
  .news_item_header .rating,
  .news_item_header .votes {
    width: 75px; }

.news_item_description {
  font-size: 12px;
  color: #989898;
  text-align: justify;
  padding: 10px 3px; }

.news_item_more, .news_item_more_border, .news_item_more_bg, .news_item_more_icon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 240px;
  cursor: pointer; }

.news_item_more_border {
  box-sizing: border-box;
  border: 1px solid #fbd128; }

.news_item_more_bg {
  background: #fdcc05;
  opacity: 0.5; }

.news_item_more_icon {
  background: url(../img/icons/bigPlus.png) no-repeat center; }

.popularNews_title, .popularVideos_title, .upcomingEvents_title {
  height: 30px;
  border: 1px solid #EEE;
  background: white url(../img/icons/popular.png) no-repeat 8px center;
  padding-left: 33px;
  line-height: 34px;
  font-size: 12px;
  color: #777; }

.popularNews_item {
  margin-top: 7px;
  width: 224px;
  height: 148px; }
  .popularNews_item .title,
  .popularNews_item .date {
    width: 135px; }

.popularVideos_title, .upcomingEvents_title {
  margin-top: 18px;
  background: white url(../img/icons/video.png) no-repeat 8px center; }

.popularVideos_item {
  position: relative;
  margin-top: 6px;
  box-sizing: border-box;
  width: 224px;
  height: 111px;
  border: 1px solid #EEE;
  padding: 4px; }
  .popularVideos_item .info {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 51px;
    width: 214px;
    background: url(../img/icons/bigPlay.png) no-repeat 171px 0;
    padding: 13px 9px;
    color: white; }
  .popularVideos_item .title {
    font-size: 13px;
    font-weight: bold; }
  .popularVideos_item .views {
    font-size: 11px; }

.upcomingEvents_title {
  position: relative;
  background: white url(../img/icons/events.png) no-repeat 8px center; }

.upcomingEvents_prev, .upcomingEvents_next {
  position: absolute;
  top: 0;
  right: 46px;
  width: 21px;
  height: 100%;
  background: url(../img/icons/prev.png) no-repeat center; }

.upcomingEvents_delimiter {
  position: absolute;
  top: 5px;
  right: 37px;
  background: #EAEAEA;
  width: 1px;
  height: 19px; }

.upcomingEvents_next {
  right: 7px;
  width: 22px;
  background: url(../img/icons/next.png) no-repeat center; }

.upcomingEvents_event {
  position: relative;
  margin-top: 6px;
  box-sizing: border-box;
  width: 224px;
  height: 146px;
  border: 1px solid #EEE;
  background: white;
  padding: 0 5px; }

.upcomingEvents_event_title {
  height: 24px;
  border-bottom: 1px solid #EAEAEA;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: #777; }

.upcomingEvents_event_pic {
  display: block;
  margin-top: 6px;
  width: 213px;
  height: 58px; }

.upcomingEvents_event_date {
  position: absolute;
  top: 70px;
  left: 0;
  height: 25px;
  background: url(../img/icons/time_white.png) no-repeat 12px 0px;
  padding-left: 30px;
  line-height: 15px;
  font-size: 10px;
  color: white; }

.upcomingEvents_event_description {
  padding: 5px 0;
  font-size: 11px;
  color: #777; }

.footer {
  background-color: #1F1F1F;
  height: 70px;
  width: 100%;
  color: white;
  display: block;
  padding: 0 40px;
  position: relative;
  left: -40px; }

/*# sourceMappingURL=main.css.map */
