// TODO: Посмотреть, что во всех блоках общего, "вынести за скобки".
// TODO: Там, где это уместно, изменить стиль с использованием box-sizing

@import "../../css/mixins"
@import "../../css/reset"

$pageColor: #FBFBFB
$borderColor: #EAEAEA
$pageWidth: 941px

body
  overflow-y: scroll
  min-width: $pageWidth
  background: $pageColor
  font-family: "Myriad pro"

.page
  background-color: $pageColor

.page_container
  position: relative
  width: $pageWidth
  margin: auto

  @media (max-width: $pageWidth)
    left: 0,
    margin: 0

@import "header"
@import "content"
@import "rightContent"
@import "footer"
